@import '~bootstrap/scss/bootstrap';
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";

body {
    background-image: url('/public/img/warehouse_background.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none !important;
}

main {
    background: transparent;

    .my_text_for_bg {
        color: black;

        p,
        h1 {
            background-color: palegoldenrod;
            border-radius: 20px;
            padding: 0.5em;
        }
    }
}

.my_quantity_button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
}

.my_shadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .1),
        0 1px 6px rgba(0, 0, 0, .05),
        0 8px 8px rgba(0, 0, 0, .1),
        0 16px 16px rgba(0, 0, 0, .1),
        8px 32px 32px rgba(0, 0, 0, .15),
        8px 64px 64px rgba(0, 0, 0, .15);
}

footer {

    img {
        box-shadow: 0 4px 4px rgba(0, 0, 0, .1),
            0 1px 6px rgba(0, 0, 0, .05),
            0 8px 8px rgba(0, 0, 0, .1),
            0 16px 16px rgba(0, 0, 0, .1),
            8px 32px 32px rgba(0, 0, 0, .15),
            8px 64px 64px rgba(0, 0, 0, .15);

        border-radius: 3em;
    }
}

.logo_warehouse {

    img {
        border-radius: 3em;
    }
}

.navbar {
    --bs-navbar-color: white !important;
}

.fixed-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;

    img {
        width: 40px;
    }
}

.fixed-button:hover {
    background-color: transparent !important;
}

/*
###############
- Debug
- Common
- Utilities
- MediaQuery
- Header
- Main
- Footer
###############
*/


/* #region Debug */

/* #endregion Debug */


/* #region Common */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* #endregion Common */


/* #region Utilities */

/* #endregion Utilities */


/* #region MediaQuery */

/* #region Desktops & Large screens */
@media screen and (max-width: 1200px) {
    /* Desktops & Large screens */
}

/* #endregion Desktops & Large screens */

/* #region Small screens & Laptops */
@media screen and (max-width: 1024px) {
    /* Small screens & Laptops */
}

/* #endregion Small screens & Laptops */

/* #region iPads & Tablets */
@media screen and (max-width: 768px) {
    /* iPads & Tablets */
}

/* #endregion iPads & Tablets */

/* #region Mobile */
@media screen and (max-width: 480px) {
    /* Mobile */
}

/* #endregion Mobile */

/* #endregion MediaQuery */


/* #region Header */

/* #endregion Header */


/* #region Main */

/* #endregion Main */


/* #region Footer */

/* #endregion Footer */